@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

@font-face {
  font-family: 'CustomFont';
  src: url('path-to-your-custom-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.custom-font {
  font-family: 'CustomFont', sans-serif; // Use custom font from _fonts.scss
}
